.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}
h2 {
  font-size: 22px;
}
th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #f2f2f2;
}

.table-container {
  display: flex;
  justify-content: space-between; /* To space the tables apart horizontally */
}

.data-table {
  flex: 1; /* To make both tables take equal width */
  margin-right: 20px; /* To add some space between the tables */
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode table, .dark-mode th, .dark-mode td {
  border-color: #444;
}

.dark-mode th {
  background-color: #333;
}

.dark-mode a:link {
  color: #d3d3d3; /* Light gray */
}

/* Visited link */
.dark-mode a:visited {
  color: #a9a9a9; /* Darker light gray */
}